.form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form__label {
  font-size: $large;
  color: $black;
  padding-bottom: 2vh;
}

.form__input-group {
  width: 100%;
  padding-top: 22px;
}

.form__input {
  padding: $medium;
  border: none;
  outline: none;
  background: rgba($black, .5);
  color: $off-white;
}

.form__btn {
  background-color: $black;
  color: $white;
  padding: $medium;
  border: none;
  outline: none;
}
