// Colors
$purple: #3f3250;
$blue: #22252c;
$red: #e14658;
$yellow: #c0b3a0;
$gray-900: #16181d;
$gray-800: #2c303a;
$gray-700: #434956;
$gray-600: #596173;
$gray-500: #6f7990;
$gray-400: #8c94a6;
$gray-300: #a9afbc;
$gray-200: #c5c9d3;
$gray-100: #e2e4e9;

$primary: $purple;
$secondary: $blue;
