// Fonts
@font-face {
  font-family: 'Roboto';
  font-display: fallback;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  font-display: fallback;
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-display: fallback;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

html {
  font-size: 100%;
}

body {
  background-image: url('../images/bg.webp');
  background-repeat: no-repeat;
  background-position: center top;
  font-family: 'Roboto-Regular', sans-serif;
  color: $black;
}

main {
    // position: absolute;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
