// Font Sizes
$s-font: 1.2rem;
$m-font: 1.8rem;
$l-font: 2.4rem;
$xl-font: 3rem;

// Colors
$white: #ccc;
$black: #222;

// Spacing
$s-spacing: 1.2rem;
$m-spacing: 1.6rem;
$l-spacing: 3.2rem;
$xl-spacing: 4.8rem;
$desktop-breakpoint: 51rem;